* {
    box-sizing: border-box;
}

html, body {

background: #ffffff;
font-family: 'Open Sans', sans-serif;
color: #333333;
margin: 0;
padding: 0;
}


p
{
line-height: 25px;
background: #fffeff;
padding: 7px;
margin: 0px;
font-size: 12px;
}


h1 {
	color: #edb210;
	padding: 0 0 0 20;
}


li {
	text-color: #edb210;
}
	

.content {
	margin: auto;
	text-align: center;
}

.compose {
	margin: auto;

}

.composeh1 {
	color: #ffffff;
	background: #222222;
	font-size: 20px;
	padding: 5px;
	text-align: center;
}

.user {
	color: rgb(0,0,0);
	background: #015a9c;
	font-size: 20px;
	width: 100%;
	padding: 5px;
	text-align: left;
}

.text {
	color: #000000;
	font-size: 15px;
	padding: 5px;
	margin: 5px;
	text-align: left;
}

.date {
	color: #888;
	font-size: 11px;
	padding: 5px;
	margin: 5px;
	text-align: left;
}

.tweetd {
	color: #ffffff;
	background: #222222;
	font-size: 14px;
	padding: 5px;
	text-align: left;
}

.yourname {
	color: #ffffff;
	background: #222222;
	font-size: 14px;
	padding: 5px;
	text-align: left;
}

.yourtweet {
	color: #000000;
	font-size: 14px;
	padding: 5px;
	margin: 5px;
	text-align: left;
}


.tweettext {
	color: #000000;
	font-size: 14px;
	padding: 5px;
	margin: 5px;
	text-align: left;
}

.tweetdate {
	color: #000000;
	font-size: 11px;
	padding: 5px;
	margin: 5px;
	text-align: left;
}	



/*  COLUMN SETUP  */
.col {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: auto;
	background: #ffffff;
	width: 50%;
}

